body {
  font-family: sans-serif;
  background-color: var(--color-body);
  color: var(--color-ink-70);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-xl);
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  background-color: var(--color-canvas);
  max-width: var(--width-main);
  padding: var(--spacing-md);
  /* border: var(--border-ink-40); */
  border-radius: var(--radius-sm);
}

h1 {
  font-size: 24px;
}

input[type="text"] {
  border-radius: var(--radius-sm);
  padding: var(--spacing-md);
  border: var(--border-ink-40);
  background-color: var(--color-ink-10);
  color: var(--color-ink-70);
}
