:root {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 36px;

  --width-md: 300px;
  --width-lg: 450px;
  --width-xl: 600px;
  --width-main: 900px;

  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 32px;

  --border-ink-40: 1px solid var(--color-ink-40);
  --border-ink-60: 1px solid var(--color-ink-60);

  /* DARK MODE */
  --color-body: hsl(202.5, 42.1%, 7.5%);
  --color-canvas: hsl(200, 28%, 14.7%);
  --color-canvas-light: var(--color-slate-10);
  --color-inverted: hsl(199.1, 44%, 9.8%);
  --color-page-tint: var(--color-body);
  --color-ink-10: hsl(200, 18%, 19.6%);
  --color-ink-20: hsl(200, 14.3%, 24.7%);
  --color-ink-30: hsl(198.8, 10.1%, 31%);
  --color-ink-40: hsl(200, 7.6%, 38.6%);
  --color-ink-50: hsl(198.5, 5.5%, 53.5%);
  --color-ink-60: hsl(201.8, 6.7%, 68%);
  --color-ink-70: hsl(205.7, 13.2%, 89.6%);
  --color-sand-10: hsl(34.3, 7.1%, 19.4%);
  --color-sand-20: hsl(34.3, 5.6%, 24.5%);
  --color-sand-30: hsl(33, 13%, 30.2%);
  --color-sand-40: hsl(33.7, 21.9%, 36.7%);
  --color-sand-50: hsl(33.1, 23%, 50.6%);
  --color-sand-60: hsl(32.2, 30.7%, 65.5%);
  --color-sand-70: hsl(33.3, 25.7%, 79.4%);
  --color-slate-10: hsl(199.3, 28.6%, 19.2%);
  --color-slate-20: hsl(200, 24.2%, 24.3%);
  --color-slate-30: hsl(198.5, 16.7%, 30.6%);
  --color-slate-40: hsl(199, 21.2%, 37.8%);
  --color-slate-50: hsl(200.4, 23.1%, 52.5%);
  --color-slate-60: hsl(200.4, 31.7%, 67.3%);
  --color-slate-70: hsl(200, 41.2%, 80%);
  --color-red-10: hsl(6.7, 8.6%, 20.6%);
  --color-red-20: hsl(9, 15.2%, 25.9%);
  --color-red-30: hsl(7, 25.4%, 33.1%);
  --color-red-40: hsl(7.7, 40.6%, 41.6%);
  --color-red-50: hsl(8.9, 66.8%, 56.3%);
  --color-red-60: hsl(14.4, 93.6%, 69.4%);
  --color-red-70: hsl(15.2, 91.2%, 82.2%);
  --color-orange-10: hsl(34.3, 14.3%, 19.2%);
  --color-orange-20: hsl(33.1, 24.4%, 23.3%);
  --color-orange-30: hsl(28.3, 35.6%, 29.2%);
  --color-orange-40: hsl(28.3, 60.9%, 34.1%);
  --color-orange-50: hsl(28.9, 78.4%, 47.3%);
  --color-orange-60: hsl(30, 82.7%, 59.2%);
  --color-orange-70: hsl(28.9, 93.3%, 76.5%);
  --color-yellow-10: hsl(49.1, 11.6%, 18.6%);
  --color-yellow-20: hsl(36, 21%, 23.3%);
  --color-yellow-30: hsl(38.8, 36.7%, 27.3%);
  --color-yellow-40: hsl(39.1, 53.1%, 31.8%);
  --color-yellow-50: hsl(40.7, 60.3%, 50.6%);
  --color-yellow-60: hsl(43.9, 76.2%, 58.8%);
  --color-yellow-70: hsl(45.4, 73.7%, 67.3%);
  --color-lime-10: hsl(126, 10.2%, 19.2%);
  --color-lime-20: hsl(110, 9.8%, 23.9%);
  --color-lime-30: hsl(83.1, 18.3%, 27.8%);
  --color-lime-40: hsl(72, 31.2%, 31.4%);
  --color-lime-50: hsl(60.6, 44.1%, 41.4%);
  --color-lime-60: hsl(61.8, 40.6%, 51.2%);
  --color-lime-70: hsl(62.4, 54.3%, 63.9%);
  --color-green-10: hsl(172.9, 18.3%, 18.2%);
  --color-green-20: hsl(166.4, 19%, 22.7%);
  --color-green-30: hsl(160.6, 23.9%, 27.8%);
  --color-green-40: hsl(152.3, 30.2%, 33.7%);
  --color-green-50: hsl(143.4, 42.6%, 43.7%);
  --color-green-60: hsl(133.5, 40%, 60.8%);
  --color-green-70: hsl(122.6, 39.7%, 77.3%);
  --color-aqua-10: hsl(193.8, 27.7%, 18.4%);
  --color-aqua-20: hsl(192.4, 24.4%, 23.3%);
  --color-aqua-30: hsl(190.8, 35.2%, 27.8%);
  --color-aqua-40: hsl(189.4, 46.1%, 32.7%);
  --color-aqua-50: hsl(187.7, 63.5%, 40.8%);
  --color-aqua-60: hsl(185.8, 52.3%, 57.3%);
  --color-aqua-70: hsl(182.9, 47.7%, 74.5%);
  --color-blue-10: hsl(204.7, 34%, 19.6%);
  --color-blue-20: hsl(209.4, 35.9%, 25.7%);
  --color-blue-30: hsl(208.7, 41.1%, 32%);
  --color-blue-40: hsl(210, 53.9%, 40%);
  --color-blue-50: hsl(212.1, 77.5%, 56.5%);
  --color-blue-60: hsl(210.2, 97.4%, 70.4%);
  --color-blue-70: hsl(208.6, 91.3%, 82%);
  --color-violet-10: hsl(225.9, 15.6%, 21.4%);
  --color-violet-20: hsl(231.8, 15.7%, 27.5%);
  --color-violet-30: hsl(231.6, 26.6%, 36.9%);
  --color-violet-40: hsl(236.5, 33.9%, 49.8%);
  --color-violet-50: hsl(241.3, 98.6%, 72.4%);
  --color-violet-60: hsl(231.8, 100%, 79.8%);
  --color-violet-70: hsl(226.2, 88.4%, 86.5%);
  --color-purple-10: hsl(255, 10.9%, 21.6%);
  --color-purple-20: hsl(255, 11.6%, 27.1%);
  --color-purple-30: hsl(260.5, 20.9%, 35.7%);
  --color-purple-40: hsl(265.1, 31.4%, 46.3%);
  --color-purple-50: hsl(269.3, 71.3%, 64.5%);
  --color-purple-60: hsl(264.7, 87.4%, 78.2%);
  --color-purple-70: hsl(259.6, 84.6%, 87.3%);
  --color-pink-10: hsl(308.6, 6.8%, 20.2%);
  --color-pink-20: hsl(317.1, 10.6%, 25.9%);
  --color-pink-30: hsl(319.4, 20.2%, 32.9%);
  --color-pink-40: hsl(324.3, 32.4%, 41.8%);
  --color-pink-50: hsl(328.2, 54.4%, 57.8%);
  --color-pink-60: hsl(326.5, 66.9%, 72.7%);
  --color-pink-70: hsl(323.5, 87.3%, 84.5%);
  --color-uncolor-10: var(--color-slate-10);
  --color-uncolor-20: var(--color-slate-20);
  --color-uncolor-30: var(--color-slate-30);
  --color-uncolor-40: var(--color-slate-40);
  --color-uncolor-60: var(--color-slate-60);
  --color-uncolor-70: var(--color-slate-70);

  /* LIGHT MODE */
  /* --hsl-black: 0, 0%, 0%; */
  /* --hsl-white: 0, 0%, 100%; */
  /* --color-body: var(--color-page-tint); */
  /* --color-canvas: hsl(var(--tint-ink-5)); */
  /* --color-canvas-light: var(--color-canvas); */
  /* --color-inverted: white; */
  /* --color-page-tint: var(--color-page-tint-1); */
  /* --color-page-tint-1: hsl(135, 29%, 97%); */
  /* --color-page-tint-2: hsl(277, 100%, 98.5%); */
  /* --color-page-tint-3: hsl(26, 94%, 98%); */
  /* --color-page-tint-4: hsl(214, 100%, 98%); */
  /* --color-page-tint-5: hsl(0, 82%, 97.5%); */
  /* --color-page-tint-6: hsl(0, 0%, 96.5%); */
  /* --color-ink-10: hsl(240, 7.7%, 97.5%); */
  /* --color-ink-20: hsl(200, 11.1%, 94.7%); */
  /* --color-ink-30: hsl(180, 3.7%, 89.4%); */
  /* --color-ink-40: hsl(195, 3.6%, 78%); */
  /* --color-ink-50: hsl(202.5, 4.1%, 62%); */
  /* --color-ink-60: hsl(201.4, 6%, 45.5%); */
  /* --color-ink-70: hsl(202.1, 18.8%, 19.8%); */
  /* --color-sand-10: hsl(33.3, 60%, 97.1%); */
  /* --color-sand-20: hsl(34.3, 46.7%, 94.1%); */
  /* --color-sand-30: hsl(31.4, 36.8%, 88.8%); */
  /* --color-sand-40: hsl(31.6, 31.7%, 76.5%); */
  /* --color-sand-50: hsl(32.9, 29.5%, 58.8%); */
  /* --color-sand-60: hsl(33.8, 29.1%, 43.1%); */
  /* --color-sand-70: hsl(34.1, 29.8%, 33.5%); */
  /* --color-slate-10: var(--color-ink-10); */
  /* --color-slate-20: var(--color-ink-20); */
  /* --color-slate-30: var(--color-ink-30); */
  /* --color-slate-40: var(--color-ink-40); */
  /* --color-slate-50: var(--color-ink-50); */
  /* --color-slate-60: var(--color-ink-60); */
  /* --color-slate-70: var(--color-ink-70); */
  /* --color-red-10: hsl(10.9, 100%, 97.8%); */
  /* --color-red-20: hsl(10.9, 100%, 95.7%); */
  /* --color-red-30: hsl(12, 100%, 91.2%); */
  /* --color-red-40: hsl(12.7, 100%, 80.6%); */
  /* --color-red-50: hsl(13, 97.9%, 62.9%); */
  /* --color-red-60: hsl(7.8, 63.6%, 49.6%); */
  /* --color-red-70: hsl(6.7, 69.1%, 38%); */
  /* --color-orange-10: hsl(40, 100%, 95.9%); */
  /* --color-orange-20: hsl(38.3, 100%, 90.8%); */
  /* --color-orange-30: hsl(36.5, 100%, 84.5%); */
  /* --color-orange-40: hsl(32.9, 93.5%, 69.8%); */
  /* --color-orange-50: hsl(34.6, 98.4%, 48.4%); */
  /* --color-orange-60: hsl(29.4, 98.9%, 36.9%); */
  /* --color-orange-70: hsl(26.4, 98.7%, 29.4%); */
  /* --color-yellow-10: hsl(51.4, 77.8%, 94.7%); */
  /* --color-yellow-20: hsl(48.4, 93.4%, 88%); */
  /* --color-yellow-30: hsl(48.1, 100%, 77.3%); */
  /* --color-yellow-40: hsl(45.7, 92.8%, 67.3%); */
  /* --color-yellow-50: hsl(46, 87.9%, 48.6%); */
  /* --color-yellow-60: hsl(42.2, 96.2%, 31%); */
  /* --color-yellow-70: hsl(39.1, 82.4%, 26.7%); */
  /* --color-lime-10: hsl(65.5, 73.3%, 94.1%); */
  /* --color-lime-20: hsl(62.7, 71.4%, 87.6%); */
  /* --color-lime-30: hsl(62.3, 66.4%, 76.7%); */
  /* --color-lime-40: hsl(61.7, 52.7%, 60.2%); */
  /* --color-lime-50: hsl(60.4, 62.2%, 42.5%); */
  /* --color-lime-60: hsl(60.5, 100%, 23.9%); */
  /* --color-lime-70: hsl(60.7, 78.2%, 21.6%); */
  /* --color-green-10: hsl(102, 55.6%, 96.5%); */
  /* --color-green-20: hsl(105, 55.6%, 92.9%); */
  /* --color-green-30: hsl(110.5, 54.3%, 86.3%); */
  /* --color-green-40: hsl(123, 44.1%, 73.3%); */
  /* --color-green-50: hsl(135.6, 39.7%, 52.5%); */
  /* --color-green-60: hsl(148.4, 68.8%, 31.4%); */
  /* --color-green-70: hsl(149.3, 68.2%, 25.9%); */
  /* --color-aqua-10: hsl(174, 55.6%, 96.5%); */
  /* --color-aqua-20: hsl(177.3, 57.9%, 92.5%); */
  /* --color-aqua-30: hsl(178.8, 62%, 84.5%); */
  /* --color-aqua-40: hsl(183.5, 55.1%, 69.4%); */
  /* --color-aqua-50: hsl(184.7, 87.4%, 40.4%); */
  /* --color-aqua-60: hsl(186.7, 98.6%, 28.4%); */
  /* --color-aqua-70: hsl(188.5, 79.1%, 26.3%); */
  /* --color-blue-10: hsl(201.4, 100%, 97.3%); */
  /* --color-blue-20: hsl(205, 92.3%, 94.9%); */
  /* --color-blue-30: hsl(205.9, 100%, 90%); */
  /* --color-blue-40: hsl(208.4, 88.6%, 79.4%); */
  /* --color-blue-50: hsl(209.2, 100%, 62.9%); */
  /* --color-blue-60: hsl(211.2, 71.4%, 48%); */
  /* --color-blue-70: hsl(213.3, 67.2%, 39.4%); */
  /* --color-violet-10: hsl(210, 100%, 97.6%); */
  /* --color-violet-20: hsl(220, 90%, 96.1%); */
  /* --color-violet-30: hsl(222.6, 100%, 92.5%); */
  /* --color-violet-40: hsl(226.5, 92.2%, 84.9%); */
  /* --color-violet-50: hsl(238.4, 100%, 77.6%); */
  /* --color-violet-60: hsl(242.9, 82.7%, 66.1%); */
  /* --color-violet-70: hsl(246.8, 49.4%, 51.2%); */
  /* --color-purple-10: hsl(255, 100%, 98.4%); */
  /* --color-purple-20: hsl(252, 88.2%, 96.7%); */
  /* --color-purple-30: hsl(253.1, 100%, 93.7%); */
  /* --color-purple-40: hsl(255.2, 88.7%, 86.1%); */
  /* --color-purple-50: hsl(261.7, 100%, 75.1%); */
  /* --color-purple-60: hsl(267.9, 84.2%, 60.4%); */
  /* --color-purple-70: hsl(267.3, 43.7%, 45.3%); */
  /* --color-pink-10: hsl(308.6, 63.6%, 97.8%); */
  /* --color-pink-20: hsl(315, 72.7%, 95.7%); */
  /* --color-pink-30: hsl(319.4, 81%, 91.8%); */
  /* --color-pink-40: hsl(322.9, 73.9%, 82%); */
  /* --color-pink-50: hsl(323.6, 81.4%, 66.3%); */
  /* --color-pink-60: hsl(326.9, 54.9%, 52.2%); */
  /* --color-pink-70: hsl(328.1, 55.8%, 39%); */
  /* --color-ink: var(--color-ink-70); */
  /* --color-slate: var(--color-slate-60); */
  /* --color-sand: var(--color-sand-60); */
  /* --color-red: var(--color-red-60); */
  /* --color-orange: var(--color-orange-60); */
  /* --color-yellow: var(--color-yellow-60); */
  /* --color-green: var(--color-green-60); */
  /* --color-blue: var(--color-blue-60); */
  /* --color-purple: var(--color-purple-60); */
  /* --color-uncolor: var(--color-uncolor-60); */
  /* --color-uncolor-10: var(--color-sand-10); */
  /* --color-uncolor-20: var(--color-sand-20); */
  /* --color-uncolor-30: var(--color-sand-30); */
  /* --color-uncolor-40: var(--color-sand-40); */
  /* --color-uncolor-50: var(--color-sand-50); */
  /* --color-uncolor-60: var(--color-sand-60); */
  /* --color-warning: var(--color-warning-60); */
  /* --color-warning-10: var(--color-red-10); */
  /* --color-warning-20: var(--color-red-20); */
  /* --color-warning-30: var(--color-red-30); */
  /* --color-warning-40: var(--color-red-40); */
  /* --color-warning-50: var(--color-red-50); */
  /* --color-warning-60: var(--color-red-60); */
  /* --color-unread: hsl(2, 80%, 60%, 1); */
  /* --color-text: var(--color-ink); */
  /* --color-text-subtle: var(--color-ink-60); */
  /* --color-text-placeholder: var(--color-ink-50); */
  /* --tint-black-2: hsl(var(--hsl-black), 0.02); */
  /* --tint-black-5: hsl(var(--hsl-black), 0.05); */
  /* --tint-black-10: hsl(var(--hsl-black), 0.1); */
  /* --tint-black-15: hsl(var(--hsl-black), 0.15); */
  /* --tint-black-20: hsl(var(--hsl-black), 0.2); */
  /* --tint-black-25: hsl(var(--hsl-black), 0.25); */
  /* --tint-black-50: hsl(var(--hsl-black), 0.5); */
  /* --tint-black-75: hsl(var(--hsl-black), 0.75); */
  /* --tint-ink-2: color-mix(in hsl, transparent, var(--color-ink) 2%); */
  /* --tint-ink-3: color-mix(in hsl, transparent, var(--color-ink) 3%); */
  /* --tint-ink-5: color-mix(in hsl, transparent, var(--color-ink) 5%); */
  /* --tint-ink-10: color-mix(in hsl, transparent, var(--color-ink) 10%); */
  /* --tint-ink-15: color-mix(in hsl, transparent, var(--color-ink) 15%); */
  /* --tint-ink-20: color-mix(in hsl, transparent, var(--color-ink) 20%); */
  /* --tint-ink-25: color-mix(in hsl, transparent, var(--color-ink) 25%); */
  /* --tint-ink-35: color-mix(in hsl, transparent, var(--color-ink) 35%); */
  /* --tint-ink-50: color-mix(in hsl, transparent, var(--color-ink) 50%); */
  /* --tint-ink-75: color-mix(in hsl, transparent, var(--color-ink) 75%); */
  /* --tint-inverted-2: color-mix(in hsl, transparent, var(--color-inverted) 2%); */
  /* --tint-inverted-5: color-mix(in hsl, transparent, var(--color-inverted) 5%); */
  /* --tint-inverted-10: color-mix(in hsl, transparent, var(--color-inverted) 10%); */
  /* --tint-inverted-15: color-mix(in hsl, transparent, var(--color-inverted) 15%); */
  /* --tint-inverted-25: color-mix(in hsl, transparent, var(--color-inverted) 25%); */
  /* --tint-inverted-50: color-mix(in hsl, transparent, var(--color-inverted) 50%); */
  /* --tint-inverted-75: color-mix(in hsl, transparent, var(--color-inverted) 75%); */
}
